body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}
.whole-content {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}
.logo-div {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  height: 75px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header {
  margin-bottom: 15px;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 16px;
}
.location {
  margin-bottom: 30px;
  padding: 2px 8px;
  color: white;
  background-color: rebeccapurple;
}
p {
  margin: 0;
  padding: 10px 30px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: roman;
  font-size: 12px;
  line-height: 2;
  width: 100%; /* very imp, refer to responsive notes */
  word-wrap: break-word;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  text-align: center;
  border: 0.1px solid transparent;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .08);
  transition: all .5s ease;
  border-radius: 100px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 90%;
  max-width: 400px;
  min-height: 100px;
  cursor: pointer;
}
.card:hover {
  border-color: rgba(37, 99, 235, 0.2);
  background:  lightcyan;
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, .15);
}
.button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.copy-button,
.share-button {
  cursor: pointer;
  background: rebeccapurple;
  border-radius: 10px; 
  color: white;
  border: none;
  padding: 5px 10px;
}
.copied,
.shared {
  background: rgba(132, 90, 201, 1);
  box-shadow: 0 0 12px rgba(132, 90, 201, 0.65);
}
.footer-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 210px;
  margin-top: 20px;
}
.next-button,
.back-button {
  padding: 5px;
  cursor: pointer;
  border: none;
  color: white;
  background: rebeccapurple;
  text-decoration: none;
}
.divider {
  display: flex; 
  color: rebeccapurple;
  font-weight: bold;
  width: 60%; /* parent width hi kam hoga toh line end tak kaise jayega */
  max-width: 60%;
  align-items: center; /* span item center ho jaaye */
  margin-bottom: 15px;
}
.divider hr {
  border-top: 1px solid rebeccapurple;
  flex: 1; /* widthb ka available space tak stretch ho jao */
}
.divider span {
  margin: 0 10px; /* span element ke around gap */
  font-size: 12px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  text-align: center;
}
.footer-para {
  padding: 4px;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 13px;
}